* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container {
    display: flex;
    flex-direction: column;
    background-color:rgb(252, 190, 190);
    height: 100vh;
    align-items: stretch;
}
.container > div {
    flex-basis:33%;
}
.title-bar {
    display:flex;
    justify-content:center;
}
.game-bar {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}
button {
    border-radius: 6px;
    background-color:rgb(65, 144, 235);
    height: 80px;
    width: 80px;
}
button:hover {
    background-color:rgb(118, 167, 231);
}
.anime-screen {
    position:relative;
    height: 200px;
    width: 200px;
}
.animation {
    position:absolute;
    height: 150px;
    width: 150px;
    background-color: rgba(128, 128, 128, 0);
}
.anime-container {
    display:flex;
}
#compHand {
    left:50px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
